# Trabalhando com Datas

Saber trabalhar com datas é essencial para qualquer pessoa que trabalhe com dados. Neste notebook, vamos aprender a trabalhar com datas no Python usando Polars.

In [9]:
import polars as pl
import numpy as np
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_path = 'https://raw.githubusercontent.com/carlosfab/datasets/master/electricity_consumption/Electric_Production.csv'
df = pl.read_csv(df_path)

df = df.select(
    pl.col('DATE').str.to_date('%m-%d-%Y').alias('date'),
    pl.col('Value').alias('value')
)

df.head(5)

shape: (5, 2)
┌────────────┬─────────┐
│ date       ┆ value   │
│ ---        ┆ ---     │
│ date       ┆ f64     │
╞════════════╪═════════╡
│ 1985-01-01 ┆ 72.5052 │
│ 1985-02-01 ┆ 70.672  │
│ 1985-03-01 ┆ 62.4502 │
│ 1985-04-01 ┆ 57.4714 │
│ 1985-05-01 ┆ 55.3151 │
└────────────┴─────────┘

Podemos agora usar a localização por data

In [3]:
df.filter(
    pl.col('date').dt.year() == 1985
)

shape: (12, 2)
┌────────────┬─────────┐
│ date       ┆ value   │
│ ---        ┆ ---     │
│ date       ┆ f64     │
╞════════════╪═════════╡
│ 1985-01-01 ┆ 72.5052 │
│ 1985-02-01 ┆ 70.672  │
│ 1985-03-01 ┆ 62.4502 │
│ 1985-04-01 ┆ 57.4714 │
│ …          ┆ …       │
│ 1985-09-01 ┆ 60.5846 │
│ 1985-10-01 ┆ 56.3154 │
│ 1985-11-01 ┆ 58.0005 │
│ 1985-12-01 ┆ 68.7145 │
└────────────┴─────────┘

In [10]:
df.filter(
    pl.col('date') == datetime.date(1985, 5, 1)
)

shape: (1, 2)
┌────────────┬─────────┐
│ date       ┆ value   │
│ ---        ┆ ---     │
│ date       ┆ f64     │
╞════════════╪═════════╡
│ 1985-05-01 ┆ 55.3151 │
└────────────┴─────────┘

In [11]:
df.filter(
    pl.col('date') <= datetime.date(1985, 5, 1)
)

shape: (5, 2)
┌────────────┬─────────┐
│ date       ┆ value   │
│ ---        ┆ ---     │
│ date       ┆ f64     │
╞════════════╪═════════╡
│ 1985-01-01 ┆ 72.5052 │
│ 1985-02-01 ┆ 70.672  │
│ 1985-03-01 ┆ 62.4502 │
│ 1985-04-01 ┆ 57.4714 │
│ 1985-05-01 ┆ 55.3151 │
└────────────┴─────────┘

In [20]:
df.filter(
    pl.col('date') <= datetime.datetime.strptime('1985-03-01', '%Y-%m-%d')
)

shape: (3, 2)
┌────────────┬─────────┐
│ date       ┆ value   │
│ ---        ┆ ---     │
│ date       ┆ f64     │
╞════════════╪═════════╡
│ 1985-01-01 ┆ 72.5052 │
│ 1985-02-01 ┆ 70.672  │
│ 1985-03-01 ┆ 62.4502 │
└────────────┴─────────┘

In [24]:
df.group_by(pl.col('date').dt.month()).agg(pl.mean('value')).sort('date')

shape: (12, 2)
┌──────┬────────────┐
│ date ┆ value      │
│ ---  ┆ ---        │
│ u32  ┆ f64        │
╞══════╪════════════╡
│ 1    ┆ 102.100241 │
│ 2    ┆ 94.095521  │
│ 3    ┆ 87.902691  │
│ 4    ┆ 79.134518  │
│ …    ┆ …          │
│ 9    ┆ 86.484391  │
│ 10   ┆ 80.209121  │
│ 11   ┆ 83.135879  │
│ 12   ┆ 95.757606  │
└──────┴────────────┘